.test {
	position: relative;
}

.test::after {
	position: absolute;
	content: '';
	top: 5px;
	width: 10px;
	height: 10px;
	border-top: 2px solid #000;
	border-right: 2px solid #000;
	display: inline-block;
	transform: rotate(45deg);
}

.items.active-item {
	background-color: green;
	color: white;
}

#btn {
	display: flex;
	/* flex-direction: column; */
	justify-content: space-evenly;
}
.items {
	font-size: 26px;
	list-style: none;
	cursor: pointer;
	display: inline-block;
}

.title {
	font-size: 30px;
	text-align: center;
	display: none;
}

.title.active-content {
	display: block;
}

.wrapper-letter {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 100vh;
}

.letter {
	background-color: black;
	color: honeydew;
	font-weight: bold;
	font-size: 1.5em;
	padding: 1em 3em;
	border-radius: 10px;
}
.letter.active {
	background-color: aqua;
	color: black;
}
