body {
	font-family: 'Montserrat', sans-serif;
}
.container {
	min-width: 1280px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}
.nav {
	background-color: rgba(94, 93, 88, 0.6);
}
.wraper-title {
	display: flex;
	align-items: center;
}
.hexagon {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #18cfab;
	width: 58px;
	height: 52px;
	margin-right: 6px;
	clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.hexagon span {
	font-size: 40px;
	font-weight: bold;
	color: white;
}
.title {
	color: white;
	font-size: 32px;
}
.title span {
	color: #18cfab;
	font-weight: bold;
}
.navigation {
	display: flex;
	align-items: center;
}

.link {
	text-transform: uppercase;
	font-weight: bold;
	display: inline-block;
	padding: 50px 10px;
	color: white;
	transition: all 0.5s ease-in-out;
}

.link:hover {
	color: #18cfab;
	box-shadow: inset 0px -4px #18cfab;
}
.icon {
	color: white;
	font-size: 20px;
}

.bgi {
	background-image: url(../img/bgi.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	z-index: -1;
	text-align: center;
}
.bgi-title {
	font-size: 35px;
	color: white;
	margin-top: 379px;
}
.bgi-title span {
	color: #18cfab;
}
.bgi-subtitle {
	color: white;
	text-transform: uppercase;
	font-size: 78px;
	font-weight: bold;
}
