* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.flex {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.flex-item {
	width: 200px;
	height: 200px;
	background-color: orange;
	margin: 5px;
	/* border-radius: 50%; */
	/* animation: pulsare 2s infinite ease-in-out; */
}
.block {
	width: 200px;
	height: 200px;
	background-color: orange;
	margin: 200px;
	border-radius: 50%;
	display: none;
	/* animation: pulsare 2s 1s infinite; */
}

.active {
	background-color: red;
}
.text {
	font-size: 25px;
}

@media (min-width: 700px) and (max-width: 800px) {
	.block {
		background-color: red;
	}
	.text {
		font-size: 18px;
	}

	/* .flex {
		flex-wrap: wrap;
		justify-content: space-between;
	} */
}

/* @keyframes pulsare {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(2);
	}
	100% {
		transform: scale(1);
	}
} */
