* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	cursor: none;
}

.bgi {
	height: 120vh;
	background-image: url(./img/BG58-01\ 1.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.logo {
	width: 600px;
	position: fixed;
	right: 50px;
	top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 30px;
}

.logo img {
	width: 100px;
}

.logo img:last-child {
	margin-top: 20px;
}

.carousel {
	z-index: 100;
	width: calc(100% - 200px);
	margin: 0 auto;
	display: flex;
	justify-content: center;
	height: 500px;
}

.img {
	display: none;
	height: 100%;
	margin-top: 120px;
}

.img.active {
	display: inline-block;
}

.left {
	position: absolute;
	left: 5%;
	top: 50%;
	width: 40px;
	height: 40px;
	border-top: 3px solid lightcyan;
	border-left: 3px solid lightcyan;
	transform: rotate(-45deg);
	cursor: pointer;
}
.right {
	cursor: pointer;
	position: absolute;
	right: 5%;
	top: 50%;
	width: 40px;
	height: 40px;
	border-top: 3px solid lightcyan;
	border-right: 3px solid lightcyan;
	transform: rotate(45deg);
}

.colors {
	width: 1360px;
	height: 240px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	border-radius: 10px;
	background-color: #ffffff2e;
	padding: 20px 0;
	box-shadow: 0px 4px 18px 0px #df1f26;
}

.colors-item {
	width: 50px;
	height: 50px;
	background-color: #df1f26;
	border-radius: 5px;
	margin-right: 60px;
	transition: transform 0.5s ease-in-out;
}
.colors-item:nth-child(2) {
	background-color: #141414;
}
.colors-item:last-child {
	background-color: #e4e4e4;
}

.colors-item.active {
	transform: scale(1.2);
	box-shadow: 5px 5px 5px 0px #242424;
}

/* Burger */
.line {
	width: 2em;
	height: 3px;
	background: white;
	margin: 5px;
	transition: all 0.5s ease-out;
}
.line:first-child {
	width: 1em;
}

.line.top {
	transform: rotate(45deg) translate(11px, 0px);
	width: 2em;
}
.line.bot {
	transform: rotate(-45deg) translate(10px, 0px);
}
.line.medium {
	transform: translateX(-80px);
	opacity: 0;
}

nav {
	background: #2e2a2a;
	min-height: 10vh;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em 2em;
}

.hamburger {
	cursor: pointer;
	z-index: 2;
}
.nav-links {
	position: fixed;
	background: #2e2a2a;
	height: 100vh;
	width: 25%;
	top: 0;
	left: -800px;
	flex-direction: column;
	transition: all 0.5s ease-out;
	pointer-events: none;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.nav-links.open {
	z-index: 1;
	left: 0;
	pointer-events: all;
}
.nav-links li {
	opacity: 0;
	transform: translateY(-500px);
}

.nav-links li a {
	font-size: 25px;
	text-decoration: none;
	color: #fff;
}
.nav-links li:nth-child(1) {
	transition: all 0.5s ease-out 0.2s;
}
.nav-links li:nth-child(2) {
	transition: all 0.5s ease-out 0.5s;
}
.nav-links li:nth-child(3) {
	transition: all 0.5s ease-out 0.8s;
}

li.fade {
	transform: translateY(0px);
	opacity: 1;
}

.cursor {
	width: 3rem;
	height: 3rem;
	background-image: url(https://www.meme-arsenal.com/memes/1332eaa342e7ed8679d2589bf65b0957.jpg);
	/* border: 2px solid black; */
	background-size: cover;
	/* border-radius: 50%; */
	position: absolute;
	transform: translate(-50%, -50%);
	pointer-events: none;
	transition: all 0.3s ease;
	transition-property: background, transform;
	transform-origin: 100% 100%;
	z-index: 10;
	/* backdrop-filter: blur(3px); */
}
