.hangman {
	display: flex;
	width: 1000px;
	margin: 100px auto;
	justify-content: space-evenly;
}

.text {
	text-align: center;
	border: 2px solid black;
	width: 20px;
	height: 20px;
	font-size: 18px;
}

.attempt {
	color: red;
	text-align: center;
	font-size: 40px;
}
